[user]
	name = Michael Friedrich
	email = mfriedrich@gitlab.com
  signingkey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEXsxEvQjNoMwnYjTws+Ownnj5rXCeL+XxnrqacSA+nN"

[alias]
        l  = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --
	pushu = push -u origin HEAD
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[pull]
	rebase = false
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
[gpg]
	format = ssh
[commit]
	gpgsign = true

[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[safe]
	directory = /Users/mfriedrich/dev/work/handbook/handbook
[core]
#	hooksPath = /Users/mfriedrich/.gitlab-gitleaks/hooks
